<div class="header">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">{{_('Home')}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/browse">{{_('Charts')}}</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="searchDrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{_('Browse More')}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="searchDrop">
                <li><a class="dropdown-item" href="/artists"> {{_('Artists')}}</a></li>
                <li><a class="dropdown-item" href="/sources"> {{_('Sources')}}</a></li>
                <li><a class="dropdown-item" href="/charters">{{_('Charters')}}</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="customDrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{_('Customization')}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="customDrop">
                <li><a class="dropdown-item" href="/custom/nameplates">{{_('Nameplates')}}</a></li>
                <li><a class="dropdown-item" href="/custom/dons">      {{_('Dons')}}</a></li>
                <li><a class="dropdown-item" href="/custom/puchichara">{{_('Puchichara')}}</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{_('Guides')}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">TJAPlayer3</a></li>
                <li><a class="dropdown-item" href="#">TaikoCatsCafe</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/donate">{{_('Donate!')}}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

</div>
