<div>
    Show/Hide: 
    <a class="toggle-vis" data-column="0">Name</a> -
    <a class="toggle-vis" data-column="1">Artist</a> -
    <a class="toggle-vis" data-column="2">Source</a> -
    <a class="toggle-vis" data-column="3">BPM</a> -
    <a class="toggle-dif" data-column="4">Difficulty</a> -
    <a class="toggle-vis" data-column="9">Charter</a> -
    <a class="toggle-vis" data-column="10">Genre</a> -
    <a class="toggle-vis" data-column="11">Last Updated</a>
    <div style="float:right">
      Download: 
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="download" id="orig" checked>
        <label class="form-check-label" for="orig"> Original </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="download" id="eng">
        <label class="form-check-label" for="trans"> English </label>
      </div>
    </div>
</div>
<table id="dtSongTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm"> Name   </th>
      <th class="th-sm"> Artist </th>
      <th class="th-sm"> Source </th>
      <th class="th-sm fit"> BPM    </th>
      <th class="th-sm">  <img src="/static/imgs/kantan.png"     alt="かんたん(easy)">        </th>
      <th class="th-sm">  <img src="/static/imgs/futsuu.png"     alt="ふつう(Normal)">        </th>
      <th class="th-sm">  <img src="/static/imgs/muzukashii.png" alt="むずかしい(Difficult)"> </th>
      <th class="th-sm">  <img src="/static/imgs/oni.png"        alt="おに(Extreme)">         </th>
      <th class="th-sm">  <img src="/static/imgs/ura.png"        alt="うら(Extreme Alt.)">    </th>
      <th class="th-sm"> Charter </th>
      <th class="th-sm"> Genre </th>
      <th class="th-sm"> Last Updated </th>
      <th class="th-sm"> </th>
    </tr>
  </thead>
  <tbody>
    {% for song in songlist %}
      {% if song.genre.name_en   == 'J-Pop' %}
        {% set class = 'jpop' %}
      {% elif song.genre.name_en == 'Anime' %}
        {% set class = 'anime' %}
      {% elif song.genre.name_en == 'Vocaloid' %}
        {% set class = 'vocaloid' %}
      {% elif song.genre.name_en == 'Children & Folk' %}
        {% set class = 'folk' %}
      {% elif song.genre.name_en == 'Variety' %}
        {% set class = 'variety' %}
      {% elif song.genre.name_en == 'Classical' %}
        {% set class = 'classical' %}
      {% elif song.genre.name_en == 'Game Music' %}
        {% set class = 'gamemusic' %}
      {% elif song.genre.name_en == 'Namco Original' %}
        {% set class = 'namcooriginal' %}
      {% endif %}
      {% set tooltip = "Genre: \n" + song.genre.name_en + '\n(' + song.genre.name_jp + ')\n\n' %}
      {% set tooltip = tooltip + "Song ID: " + song.id|string + "\n\n" %}
      {% if song.info != "" %}
        {% set tooltip = tooltip + "Extra info: " + song.info %}
      {% endif %}
      <tr data-html="true" class="{{class}}" data-toggle="tooltip" data-placement="top" title="{{tooltip}}">
        <td> {{ song.title_en }}
             {% if song.title_en != song.title_orig %}
               <br /> ({{ song.title_orig }})
             {% endif %}
        </td>
        <td>{% for art in song.artists %}
            <span class="badge rounded-pill bg-light small-pill">
              <a href="/browse_artist/{{art.id}}">
                  {{ art.name_en }}
                  {% if art.name_en != art.name_orig %}
                    <br /> ({{ art.name_orig }})
                  {% endif %}
              </a>
            </span>
          {% endfor %}
        </td>
        <td>
          {% if song.source.name_en %}
            <span class="badge rounded-pill bg-secondary small-pill">
              {{ song.source.name_en }}
              {% if song.source.name_en != song.source.name_orig %}
                <br /> ({{ song.source.name_orig }})
              {% endif %}
            </span>
          {% endif %}
        </td>
        <td> {{ song.bpm | number_format }} </td>
        <td> {{ song.d_kantan | number_format }}     </td>
        <td> {{ song.d_futsuu | number_format }}     </td>
        <td> {{ song.d_muzukashii | number_format }} </td>
        <td> {{ song.d_oni | number_format }}        </td>
        <td> {{ song.d_ura | number_format }}        </td>
        <td>
            {% for c in [song.charter,
                         song.d_kantan_charter, song.d_futsuu_charter,
                         song.d_muzukashii_charter, song.d_oni_charter,
                         song.d_ura_charter]|uniq %}
              <span class="badge rounded-pill bg-secondary small-pill">
                {{ c.charter_name }}
              </span>
            {% endfor %}
        </td>
        <td> {{ song.genre.name_en }} </br> ({{song.genre.name_jp}}) </td>
        <td> {{ song.last_updated }} </td>
        <td> <a href="javascript:download({{song.id}})"><i class="bi bi-cloud-download"></i></a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
