<table id="dtSongTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm"> Name   </th>
      <th class="th-sm"> Artist </th>
      <th class="th-sm"> Source </th>
      <th class="th-sm"> BPM    </th>
      <th class="th-sm"> Genre  </th>
      <th class="th-sm">  <img src="/static/imgs/kantan.png"     alt="かんたん(easy)">        </th>
      <th class="th-sm">  <img src="/static/imgs/futsuu.png"     alt="ふつう(Normal)">        </th>
      <th class="th-sm">  <img src="/static/imgs/muzukashii.png" alt="むずかしい(Difficult)"> </th>
      <th class="th-sm">  <img src="/static/imgs/oni.png"        alt="おに(Extreme)">         </th>
      <th class="th-sm">  <img src="/static/imgs/ura.png"        alt="うら(Extreme Alt.)">    </th>
      <th class="th-sm"> Charter </th>
      <th class="th-sm"> Last Updated </th>
    </tr>
  </thead>
  <tbody>
    {% for song in songlist %}
      <tr>
        <td> {{ song['title_eng'] }}
             {% if song['title_eng'] != song['title_orig'] %}
               <br /> ({{ song['title_orig'] }})
             {% endif %}
        </td>
        <td> {{ song['artist_eng'] }}
             {% if song['artist_eng'] != song['artist_orig'] %}
               <br /> ({{ song['artist_orig'] }})
             {% endif %}
        </td>
        <td> {{ song['source_eng'] }}
             {% if song['source_eng'] != song['source_orig'] %}
               <br /> ({{ song['source_orig'] }})
             {% endif %}
        </td>
        <td> {{ song['bpm'] }} </td>
        <td> {{ song['genre_eng'] }}
             {% if song['genre_eng'] != song['genre_jp'] %}
               <br /> ({{ song['genre_jp'] }})
             {% endif %}
        </td>
        <td> {% if song['difficulty']['kantan'] != 0 %}     {{ song['difficulty']['kantan'] }} {% endif %}     </td>
        <td> {% if song['difficulty']['futsuu'] != 0 %}     {{ song['difficulty']['futsuu'] }} {% endif %}     </td>
        <td> {% if song['difficulty']['muzukashii'] != 0 %} {{ song['difficulty']['muzukashii'] }} {% endif %} </td>
        <td> {% if song['difficulty']['oni'] != 0 %}        {{ song['difficulty']['oni'] }} {% endif %}        </td>
        <td> {% if song['difficulty']['ura'] != 0 %}        {{ song['difficulty']['ura'] }} {% endif %}        </td>
        <td> {{ song['charter'] }} </td>
        <td> {{ song['updated'] }} </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
