{% extends 'layouts/master-page' %}
{% block css %}
  <link href="/static/css/datatables.min.css" rel="stylesheet">
  <link href="/static/css/songtable.css" rel="stylesheet">
{% endblock %}
{% block js %}
  <script type="text/javascript" src="/static/js/datatables.min.js"></script>
  <script type="text/javascript" src="/static/js/songtable.js"></script>
{% endblock %}

{% block title %}Browse{% endblock %}
{% block content %}
  <div class="card">
    <div class="card-body">
      TJA-DB offers a range of custom .tja charts, that can be searched, sorted,
      and downloaded here. You have the option to download each song in its
      original language or in English.
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      {% include 'subpages/songtable.html' %}
    </div>
  </div>

{% endblock %}
