{% extends 'layouts/master-page' %}

{% block title %}{{_('donate.title')}}{% endblock %}
{% block content %}
  <div class="card border-secondary">
    <div class="card-header"> {{_('donate.thanks.h')}} </div>
    <div class="card-body">
      <p>
        {{_('donate.thanks.text1a')}}
        <a href="https://discord.com/invite/XHcVYKW">{{_('donate.thanks.a')}}</a>
        {{_('donate.thanks.text1b')}}
      </p>
      <p> {{_('donate.thanks.text2')}} </p>
    </div>
  </div>

  <div class="card border-secondary">
    <div class="card-header"> {{_('donate.options.h')}} </div>
    <div class="card-body">
        {{_('donate.options.text')}}
      <ul>
        <li>
          <a href="https://github.com/sponsors/PidgeyL"> GitHub Sponsors </a>
        </li>
        <li>
          <a href="https://www.paypal.com/donate?hosted_button_id=CDG9K5LHEHXKA"> PayPal </a>
        </li>
        <li>
          <a href="https://www.subscribestar.com/pidgey"> SubscribeStar </a>
        </li>
    </div>
  </div>

  <div class="card border-secondary">
    <div class="card-header"> {{_('donate.benefits.h')}} </div>
    <div class="card-body">
      <b> {{_('donate.benefits.monthly')}} </b>
      <ul>
        <li>
          <b> $2/{{_('donate.benefits.month')}} -</b>
          {{_('donate.benefits.2m')}}
        </li>
        <li>
          <b> $5/{{_('donate.benefits.month')}} -</b>
          {{_('donate.benefits.5m')}}
        </li>
        <li>
          <b> $10/{{_('donate.benefits.month')}} -</b>
          {{_('donate.benefits.10m')}}
        </li>
        <li>
          <b> $20/{{_('donate.benefits.month')}} -</b>
          {{_('donate.benefits.20m')}}
        </li>
      </ul>

      <b> {{_('donate.benefits.onetime')}} </b>
      <ul>
        <li><b> $20 -</b> {{_('donate.benefits.20o')}} </li>
        <li><b> $50 -</b> {{_('donate.benefits.50o')}} </li>
        <li><b> $100 -</b> {{_('donate.benefits.100o')}} </li>
        <li><b> $150 -</b> {{_('donate.benefits.150o')}} </li>
      </ul>
    </div>
  </div>

{% endblock %}
