{% extends 'layouts/master-page' %}

{% block title %}Donate{% endblock %}
{% block content %}
  <div class="card border-secondary">
    <div class="card-header">
      Thank you for considering donating to the TJADB project!
    </div>
    <div class="card-body">
      <p>
        Donations are used to keep the website, discord bot, domain and ESE project
        alive. <br />
        Excess donations will be stored separately, to keep a buffer for months
        with fewer donations. <br />
        If we reach a point where we have a large excess of donations, we will
        notify any donors. For any questions, contact the staff of the
        <a href="https://discord.com/invite/XHcVYKW">TJADB Discord group</a>.
      </p>
      <p>
        Once you make a donation, ping <b>Pidgey#8387</b> on Discord, or send a
        mail to <b>tjadb-donations [at] pidgey.net.</b> Certain donation tiers
        get rewarded with a small thank you, and every donation is noted down for
        full transparancy.
      </p>
    </div>
  </div>

  <div class="card border-secondary">
    <div class="card-header"> Donation options </div>
    <div class="card-body">
      There are a couple of ways you can donate to the project.
      <ul>
        <li>
          <a href="https://github.com/sponsors/PidgeyL"> GitHub Sponsors </a>
        </li>
        <li>
          <a href="https://www.paypal.com/donate?hosted_button_id=CDG9K5LHEHXKA"> PayPal </a>
        </li>
        <li>
          <a href="https://www.subscribestar.com/pidgey"> SubscribeStar </a>
        </li>
    </div>
  </div>

  <div class="card border-secondary">
    <div class="card-header"> Benefits </div>
    <div class="card-body">
      <b> Monthly donations </b>
      <ul>
        <li><b> $2/month -</b> Sponsor badge on GitHub</li>
        <li><b> $5/month -</b> Early release access to features of hosted projects <br />
             Participate in polls that decide the directions of ongoing projects <br />
             Get the "Sponsor role" on Discord </li>
        <li><b> $10/month -</b> Logo or name in the repository README </li>
        <li><b> $20/month -</b> Logo or name on the website  </li>
      </ul>
      <b> One-time donations </b>
      <ul>
        <li><b> $20 -</b> Get a sponsor role on the TJADB Discord server </li>
        <li><b> $50 -</b> Logo or name on the project README </li>
        <li><b> $100 -</b> Logo or name on the website </li>
        <li><b> $150 -</b> High-priority feature requests (to be discussed what is
             do-able)
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
