.header{
    width:               100%;
    height:              280px;
    background-image:    url("/static/imgs/header.png");
    background-position: center;
    background-size:     cover;
    position: relative;
    min-width:           1000px;
}

.header nav{
    position: absolute;
    bottom: 0;
    right:  0;

}

body{
    background-image:  url("/static/imgs/bg_pattern2.png");
    background-repeat: repeat
}

#content{
    background-color: white;
    padding:          24px 6px;
    min-width:        1000px;
}
