#dtSongTable img {
    max-width:  25px;
    max-height: 25px;
}

#dtSongTable td, th {
    text-align:     center;
    vertical-align: middle;
}

#dtSongTable>tbody>tr>td, #dtSongTable>tbody>tr>th,
#dtSongTable>tfoot>tr>td, #dtSongTable>tfoot>tr>th,
#dtSongTable>thead>tr>td, #dtSongTable>thead>tr>th {
    padding: 8px 4px;
}

#dtSongTable a{
    color: black;
}

.jpop td {
    background-color: #88ceebB0;
}

.anime td {
    background-color: #ff9935B0;
}

.vocaloid td {
    background-color: #a7a7a7B0;
}

.folk td {
    background-color: #ff689bB0;
}

.variety td {
    background-color: #68cb51B0;
}

.classical td {
    background-color: #fcbe19B0;
}

.gamemusic td {
    background-color: #9385dbB0;
}

.namcooriginal td {
    background-color: #ff6a29B0;
}

.new-song {
    position: absolute;
    right: -20px;
    top: -15px;
    font-size: 10px;
}

.song-name {
    position: relative;
}

.ribbon-new {
    position: absolute;
    left: 7px;
    top: -3px;
}
.content {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.5s;

    color: white;
    font-size: 11px;
    text-align: center;
    background: linear-gradient(90deg, #ad0000, #db0202);
    box-shadow: 0px 0px 8px 2px black;
    padding: 8px 2px 4px;
    width: 28px;
    min-height: 36px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 8px), 0 100%);
}
.content:hover {
    opacity: 0.2;
    transition-property: opacity;
    transition-duration: 0.5s;
}
.content div{
    transform: rotate(45deg);
}
