{% extends 'layouts/master-page' %}
{% block css %}
  <link href="/static/css/dons.css" rel="stylesheet">
{% endblock %}

{% block title %}Dons{% endblock %}
{% block content %}
  <div class="card border-secondary">
    <div class="card-header">Dons</div>
    <div class="card-body">
      <b>These Dons are for TaikoCatsCaffe (TCC) ONLY.</b> Download by clicking
      the image, then place and extract the zip file in System\Base.
    </div>
  </div>

<div class="d-flex flex-wrap">
  <div class="card">
    <a href="/assets/AI.zip">
      <img class="card-img-top" src="/static/imgs/custom/AI.gif" alt="AI Don">
    </a>
    <div class="card-body">
      <h5 class="card-title">AI-Don</h5>
      <p class="card-text">
      </p>
      <p class="card-text"><small class="text-muted"> りゅう/Ryuu </small></p>
    </div>
  </div>

  <div class="card">
    <a href="/assets/Dododo.zip">
      <img class="card-img-top" src="/static/imgs/custom/Dododo.gif" alt="Dododo... Don">
    </a>
    <div class="card-body">
      <h5 class="card-title">Dodododo...</h5>
      <p class="card-text">
      </p>
      <p class="card-text"><small class="text-muted"> まいるど/Mairudo </small></p>
    </div>
  </div>

  <div class="card">
    <a href="/assets/Katsu-chan.zip">
      <img class="card-img-top" src="/static/imgs/custom/Katsu-chan.gif" alt="Katsu-chan">
    </a>
    <div class="card-body">
      <h5 class="card-title">Katsu-chan</h5>
      <p class="card-text">
      </p>
      <p class="card-text"><small class="text-muted"> </small></p>
    </div>
  </div>

  <div class="card">
    <a href="/assets/Sakuramochi_Don.zip">
      <img class="card-img-top" src="/static/imgs/custom/Sakuramochi_Don.gif" alt="Sakuramochi Don">
    </a>
    <div class="card-body">
      <h5 class="card-title">Sakuramochi Don</h5>
      <p class="card-text">
      </p>
      <p class="card-text"><small class="text-muted"> まいるど/Mairudo </small></p>
    </div>
  </div>

  <div class="card">
    <a href="/assets/Tatsujin.zip">
      <img class="card-img-top" src="/static/imgs/custom/Tatsujin.gif" alt="Tatsujin Don">
    </a>
    <div class="card-body">
      <h5 class="card-title">Tatsujin</h5>
      <p class="card-text">
      </p>
      <p class="card-text"><small class="text-muted"> </small></p>
    </div>
  </div>
</div>
{% endblock %}
