{% extends 'layouts/master-page' %}
{% block title %}Nameplates{% endblock %}
{% block content %}
  <div class="card border-secondary">
    <div class="card-header">Custom Nameplates</div>
    <div class="card-body">
      <p>
        Nameplates personalizadas pueden ser creadas gracias al
        programa de nameplates de CRCR, que se puede descargar <a href="/assets/Name_Plate_Maker.zip">aquí</a>.
      </p>
      <p>
        Esta es una nameplate de ejemplo. Tu título (comúnmente obtenido por completar
        ciertos desafíos) va en el cuadro de arriba, y tu nombre de usuario en el cuadro de abajo.
      </p>
      <p>
        El boton "Full" cambia entre el diseño completo y el estandar de una nameplate. 
        Debes presionar "Save" dos veces para guardar las dos nameplates.
      </p>
      <p>
        El boton "P" cambia entre el diseño de 1P y 2P.
      </p>
      <p>
        El boton "On / Off" alterna el diseño del icono del Dan. 
        Los Dans son una manera de medir tu habilidad. Encuentra mas información en el
        <a href="https://discord.gg/XHcVYKW">Discord de TJADB</a>.
      </p>
      <img src="/static/imgs/custom/nameplates.png" alt="Nameplate Maker">
    </div>
  </div>
{% endblock %}