{% extends 'layouts/master-page' %}
{% block title %} {{_('nameplates.title')}} {% endblock %}
{% block content %}
  <div class="card border-secondary">
    <div class="card-header"> {{_('nameplates.h')}} </div>
    <div class="card-body">
      <p>
        {{_('nameplates.p1')}}
        <a href="/assets/Name_Plate_Maker.zip">{{_('here')}}</a>.
      </p>
      <p> {{_('nameplates.p2')}} </p>
      <p> {{_('nameplates.p3')}} </p>
      <p> {{_('nameplates.p4')}} </p>
      <p> 
        {{_('nameplates.p5')}}
        <a href="https://discord.gg/XHcVYKW">TJADB discord</a>.
      </p>
      <img src="/static/imgs/custom/nameplates.png" alt="Nameplate Maker">
    </div>
  </div>
{% endblock %}
