{% extends 'layouts/master-page' %}

{% block title %}{{_('puchichara.title')}}{% endblock %}
{% block content %}
  <div class="card border-secondary">
    <div class="card-header">{{_('puchichara.intro.h')}}</div>
    <div class="card-body">
      {{_('puchichara.intro.text')}}
    </div>
  </div>

  <div class="card border-secondary">
    <div class="card-header">{{_('puchichara.howto.h')}}</div>
    <div class="card-body">
      <ol>
        <li>{{_('puchichara.howto.li1a')}}
            <a href="https://www.getpaint.net/">paint.net</a>.
            {{_('puchichara.howto.li1b')}}</li>
        <li>{{_('puchichara.howto.li2)}}</li>
        <li>{{_('puchichara.howto.li3')}} </br>
            <img src="/static/imgs/custom/puchichara_example.png" style="width: 200px;"></li>
        <li>{{_('puchichara.howto.li4')}}</li>
        <li>{{_('puchichara.howto.li5')}}</br>
            <img src="/static/imgs/custom/puchichara_levels.png"></li>
        <li>{{_('puchichara.howto.li6')}}</li>
      </ol>
    </div>
  </div>
</div>
{% endblock %}
